#footer{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
#footer .link{
    text-align: center;

}
#footer a{
    text-decoration: none;
    color: #666;
    margin-left: 5px;
    margin-right: 5px;
}
#footer .copyright{
    text-align: center;
    margin-top: 10px;
}