
#ad{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}
#ad img{
    width: 1200px;
    height: 400px;
}

#ms{
    width: 1200px;
    height: 305px;
    margin: 0 auto;
}
#ms .ms_title{
    height: 55px;
    background: url("../images/title_bg.png") repeat-x;
    -webkit-background-size: 1200px;
    background-size: 1200px 55px;
    line-height: 55px;
    padding-left: 20px;
}
#ms .ms_title span{
    color: white;
}
#ms .ms_title span:first-child{
    font-size: 20px;
    margin-right: 10px;
}

#ms .ms_body{
    height: 250px;
    background: white;
    padding-top: 10px;
}
#ms .ms_body ul{
    display: flex;
    list-style: none;
    height: 225px;
}
#ms .ms_body ul li{
    flex: 1;
    border-right: 1px solid #ccc;
    height: 225px;
}
#ms .ms_body ul li:last-child{
    border-right: none;
}
#ms .ms_body ul a{
    display: block;
    width: 100%;
    height: 225px;
    padding: 5px;
    text-decoration: none;
}
#ms .ms_body ul img{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-left: 50px;
}
#ms .ms_body ul p{
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}
.yuan{
    font-size: 12px;
    color:#ff4400;
    margin-right: 3px;
}

.price{
    color: #ff4400;
    font-weight: bold;
}

#hot_goods{
    width: 1200px;
    margin: 10px auto;
}
#hot_goods .hot_goods_title{
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #ff242d;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background: white;
    padding-left: 20px;
}

#hot_goods ul{
    list-style: none;
    overflow: hidden;
}
#hot_goods ul li{
    height: 315px;
    width: 236px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    background: white;
    padding: 5px;
}
#hot_goods ul li:nth-child(5n){
    margin-right: 0px;
}
#hot_goods ul li:last-child{
    border-right: none;
}
#hot_goods ul a{
    display: block;
    width: 100%;
    height: 315px;
    padding: 5px;
    text-decoration: none;
}
#hot_goods ul li:hover{
    border: 1px solid #ff4400;
}
#hot_goods ul img{
    display: inline-block;
    width: 176px;
    height: 220px;
    margin-left: 20px;
}
#hot_goods ul p{
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}
