*{
    box-sizing: border-box;
}
#reg_header{
    width: 100%;
    height: 110px;
    background: white;
    box-shadow: 5px 0px 15px #ccc;
    overflow: hidden;
}
#reg_header .reg_h_center{
    width: 1210px;
    height: 110px;
    margin: 0 auto;

}
#reg_header .reg_h_center img{
    width: 160px;
    height: 100px;
    float: left;
}
#reg_header h3{
    float: left;
    font-size: 25px;
    font-weight: 400;
    color: #333;
    margin-top: 50px;
}

#reg_header .reg_h_right{
    width: 200px;
    height: 110px;
    float: right;
    line-height: 110px;
    padding-top: 20px;
}
#reg_header .reg_h_right span{
    color: #6C6C6C;
    font-size: 15px;
    margin-right: 10px;
    float: left;
}

#reg_header .reg_h_right a{
    color: #333;
    font-size: 15px;
    display: inline-block;
    float: left;
}
#reg_main{
    width: 830px;
    height: 605px;
    margin: 50px auto;
    overflow: hidden;
}
#reg_main .main_left{
    width:600px;
    height: 605px;
    border-right: 1px solid #ccc;
    float: left;
}
#reg_main .main_right{
    float: left;
    width: 225px;
    height: 605px;
}
#reg_main form div{
    width: 400px;
    height: 54px;
    border: 1px solid #cccccc;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 17px;
}
#reg_main form label{
    letter-spacing: 10px;
    float: left;
    font-size: 14px;
    margin-right: 10px;
}
#reg_main form input{
    float: left;
}
#reg_main form input::-webkit-input-placeholder{
    color: #ccc;
    font-size: 14px;
}
#reg_main .check_box{
    position: relative;
}
#reg_main .main_left img{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 110px;
    height: 35px;
}

#reg_main .submit_button{
    padding: 0;
}
#reg_main input[type=submit]{
    width: 400px;
    height: 54px;
    color: white;
    font-size: 16px;
    color: white;
    background: red;
    font-weight:bold;
}
#reg_main input[type=submit]:hover{
    cursor: pointer;
}
#reg_main .main_right{
    padding: 20px;
}
  /*#form-itemGroup .default{ 
    vertical-align: middle; 
    color:#999;
    }*/
  #form-itemGroup .error{ 
    color:#F00;
    vertical-align: middle; 
    } 
  #form-itemGroup .success{ 
    color:#096;
    vertical-align: middle;
    }  